<!DOCTYPE HTML>
<!--
	Designed & created by IceDFL
-->
<html>
	<head>
		<title>IceDFL</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/newMain.css" />
        <script src="assets/js/vue.js"></script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
	</head>

    <body>
        <div class="container">
            <div class="fancyOpening"><h3>IceDFL</h3></div>
            
                

              
            <div>
                <button><a href="#projects">Projects</a></button>
            </div>
            <div id="projects" style="--c: #DF7775;">
                <button><a href="DC/fTable.html" title="Daily Challenge Summer">Course Schedule</a></button>
                
                <button><a href="DC/2022-summer.html" title="Incomplete Sale Page">Summer Sale</a></button>
            
            </div>
        </div>
        <!-- <div class="imgContainer" id="app">
            <div class="imgItem" v-for="item in 10">
                <img :src="'personal/'+item+'.jpg'" alt="">
            </div>
            <div class="imgItem" v-for="item in 10">
                <img :src="'personal/'+item+'.jpg'" alt="">
            </div>
            <div class="imgItem" v-for="item in 10">
                <img :src="'personal/'+item+'.jpg'" alt="">
            </div> -->
        </div>
    </body>
    
    </html>

    <script>
        new Vue({
            el:'#app',
            data:{}
        })
    </script>